### turtle

In [ ]:
# design sprial square
import turtle as t
a1=t.Turtle()
a1.pencolor('red')
for i in range(200):
    a1.forward(i)
    a1.left(91)
a1.done()

In [ ]:
# design spiral star
import turtle as t
a1=t.Turtle()
a1.pencolor('blue')
for i in range(50):
    a1.forward(i*10)
    a1.left(144)
t.done()

In [ ]:
# design hexagon
from turtle import *
pencolor('blue')
colors=['blue','green','red','yellow','orange','purple']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100+1)
    forward(i)
    left(59)

In [ ]:
# design tangent circle
from turtle import *
pensize(3)
pencolor('purple')
for i in rang(15):
    circle(10*i)

In [ ]:
# design spiral circle
from turtle import *
pensize(3)
pencolor('purple')
for i in range(100):
    circle(10*i,45)

In [ ]:
# design olympics logo
from turtle import *
pensize(6)
r1 = ['blue','black','red']
for i in range(3):
    penup()
    pencolor(r1[i%3])
    goto(i*100,0)
    pendown()
    circle(45)
r2=['','yellow','','green']
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*55,-55)
    pendown()
    circle(50)

In [ ]:
# design audi logo
from turtle import *
pensize(6)
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

###  Lambda functions
 - anonymous functions means that a function is without a name
 - any lamba function on python will be defined with lambda
 - syntax:- lambda arg: expression

In [1]:
def square(n):
    return n*n
square(10)

100

In [2]:
a= lambda x :x*x
print(a(10))

100

### use of lambda with filter

In [4]:
def filterList(li):
    a=[]
    for i in li:
        if i%2==0:
            a.append(i)
    return a
li=[1,2,3,4,5,6,7,8]
filterList(li)

[2, 4, 6, 8]

In [7]:
li =[1,2,3,4,5,6,7,8]
lam_li=list(filter(lambda x:(x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

### lambda with map()
 - map() function in python takes in a function and list as arguments

In [21]:
li =[1,2,3,4,5,6,7,8]
lam_li=list(map(lambda x:(x*2),li))
print(lam_li)

[2, 4, 6, 8, 10, 12, 14, 16]

### standard package
### pandas ,numpy,matplotlib

### pandas
 - data cleaning 
 - data transformation
 - data  analyis
 
 ### notations

In [12]:
import pandas as pd
internal1={'s1':35,'s2':35,'s3':35}
internal2={'s1':35,'s2':35,'s3':35}
internal1=pd.Series(internal1)
internal2=pd.Series(internal2)
print(type(internal1))
print(internal1,internal2)

<class 'pandas.core.series.Series'>
s1    35
s2    35
s3    35
dtype: int64 s1    35
s2    35
s3    35
dtype: int64

In [29]:
final={'internal1':internal1,'internal2':internal2}
final =pd.DataFrame(final)
print(type(final))
print(final)

<class 'pandas.core.frame.DataFrame'>
    internal1  internal2
s1         35         45
s2         35         65
s3         35         55

In [26]:
internal1={'s1':35,'s2':35,'s3':35}
internal2={'s1':45,'s2':65,'s3':55}
print(internal1,internal2)

{'s1': 35, 's2': 35, 's3': 35} {'s1': 45, 's2': 65, 's3': 55}

In [24]:
final.columns

Index(['internal1', 'internal2'], dtype='object')

In [30]:
final.values

array([[35, 45],
       [35, 65],
       [35, 55]], dtype=int64)

In [34]:
final.values[1][0]=152

In [35]:
final.values

array([[ 35,  45],
       [152,  65],
       [ 35,  55]], dtype=int64)

In [36]:
final.values[2]=[155,255]
final

    internal1  internal2
s1         35         45
s2        152         65
s3        155        255

In [38]:
final.loc['s4']=[20,15]
final

    internal1  internal2
s1         35         45
s2        152         65
s3        155        255
s4         20         15

In [39]:
pwd

'C:\\Users\\cse319'

### reading csv

In [52]:
filePath='DataFiles/Income.csv'
def readCsvdata(filePath):
    return pd.read_csv(filePath)
df=readCsvdata(filePath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [49]:
# extract income of all states in year 2013
# alabama: 41381
#.............
for row in df.values:
    print(row[1],':',row[-1])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [50]:
print(df.values)

[['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
  41381]
 ['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
  61137]
 ['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
  50602]
 ['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
  39919]
 ['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367
  57020 57528]]

In [ ]:
# average income of

In [ ]:
# functiom which only displays the column names in the llist
# geoid states 2005 2006 2007 2008 2009 2010 2011 2012 2013
def printDataFramescolumns(df):
    li=[]
    columns =df.columns
    for i in columns:
        li.appens(i)
    return li
print()

In [54]:
filePath='DataFiles/RegularSeasonCompactResults.csv'
def readCsvdata(filePath):
    return pd.read_csv(filePath)
readCsvdata(filePath)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]